*{
    padding: 0;
    margin:0;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    
    background-color:rgb(32, 59, 94);
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    border: 1px  solid green ;
}
  
#airplane{
height: 70px;
width: 60px;
margin-left: 70%;
}


#title{
    flex-direction: row;
    margin-left: 10%;
    font-size: 22px;
    color: white;
}
main{
    position: relative;
      
}

#searchbox{

    margin-left: 50%;
    margin-top: 30px;

}

hr{
    border-top: 1px dashed green;
    
    margin-top: 70px;
    width: 100%;    
}

h2{
    margin: 10px 50px;
}
h3{
    text-align: center;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; 
    align-items:center;
    
}

section > div{
    border: 3px solid black;
    padding: 10px;
    min-height: 10vh;   
    margin-bottom: 50px;

}

footer{
    position:fixed;
    margin-bottom: 0;
    background-color: rgb(32, 59, 94);
    width: 100%;
}