* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/Image/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(32, 59, 94);
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;

  width: 100%;
  left: 0;
  top: 0;

  background-color: rgb(32, 59, 94, 0.7);
}

#airplane {
  height: 70px;
  width: 60px;
  margin-left: 50%;
}

#title {
  flex-direction: row;
  margin-left: 50px;
  font-size: 22px;
  color: white;
}
.home-container {
  margin-top: 74px;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(32, 59, 94, 0.4);
  height: 80px;
}
#searchbox {
  margin-left: 30%;
}
#checkBoxes {
  margin-top: 15px;
}

hr {
  width: 100%;
  border-top: 2px solid white;
}

h2 {
  margin: 10px 50px;
}

h3 {
  text-align: center;
}

#flex-container1,
#flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section > div {
  border: 2px solid white;
  padding: 10px;
  min-height: 10vh;
  margin-bottom: 20px;
  background-color: rgb(32, 59, 94, 0.5);
  color: white;
}
/*
footer{
    position:fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(32, 59, 94);
    width: 100%;
}*/

#textWeather,
#textAttractions {
  display: none;
}
