* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/Image/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(58, 137, 156);
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;

  width: 100%;
  left: 0;
  top: 0;

  background-color: rgba(58, 137, 156, 0.7);
}

#airplane {
  height: 70px;
  width: 60px;
  margin-left: 50%;
}

#title {
  flex-direction: row;
  margin-left: 50px;
  font-size: 22px;
  color: white;
}
.home-container {
  margin-top: 74px;
}
#executeSearch {
  background: rgba(255, 255, 255, 0.2);
  border: 0px solid #dbdbdb;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(58, 137, 156, 0.4);
  height: 120px;
}

#checkBoxes {
  margin-top: 15px;
}

hr {
  width: 100%;
  border-top: 2px solid white;
}

h2 {
  margin: 10px 50px;
  color: grey;
}

h3 {
  text-align: center;
  color: grey;
}
h4 {
  font-size: 20px;
}

#flex-container1,
#flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

section > div {
  border: 2px solid white;
  padding: 10px;
  min-height: 10vh;
  margin-bottom: 20px;
  background-color: rgb(32, 59, 94, 0.5);
  color: white;
}
/*
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(32, 59, 94);
  width: 100%;
}
*/
#textWeather,
#textAttractions1,
#textAttractions2,
#textAttractions3 {
  display: none;
  text-align: center;
  padding: 20px;
}
/*
#textAttractions1,
#textAttractions2,
#textAttractions3 {
  text-align: center;
  padding: 50px;
}*/
